.envrc.private
dist
dist-*
*.o
*.hi
*.dyn_o
*.dyn_hi
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
cabal.project.local
cabal.project.local~
debug/
target/
result
.direnv/
.DS_Store
core/rust/build.rs
core/rust/lib*