[package]
name = "temporal_bridge"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
temporal-client = { git = "https://github.com/temporalio/sdk-core", rev = "aebb0a56426880b208341eef47820a8f13dec1a9" }
temporal-sdk-core = { git = "https://github.com/temporalio/sdk-core", rev = "44a6576bbaac589b28afa173ca6d60757a4d821d", features = ["ephemeral-server"] }
temporal-sdk-core-api = { git = "https://github.com/temporalio/sdk-core", rev = "aebb0a56426880b208341eef47820a8f13dec1a9" }
temporal-sdk-core-protos = { git = "https://github.com/temporalio/sdk-core", rev = "aebb0a56426880b208341eef47820a8f13dec1a9" }
rustfsm = { git = "https://github.com/temporalio/sdk-core", rev = "aebb0a56426880b208341eef47820a8f13dec1a9" }
tokio = "~1.48"
tokio-stream = "~0.1"
tonic = "~0.13"
tracing = "~0.1"
tracing-subscriber = "~0.3.21"
url = "~2.5"
ffi-convert = "~0.6"
serde = { version = "~1.0", features = ["derive"] }
serde_json = "~1.0"
prost = "~0.13"
prost-types = "~0.13"
libc = "0.2.178"

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = true
