[package]
name = "temporal_bridge"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
temporal-client = { git = "https://github.com/temporalio/sdk-core", rev = "6e601115daa3b9ccaa9d0d383f926aaa5953ea3d" }
temporal-sdk-core = { git = "https://github.com/temporalio/sdk-core", rev = "6e601115daa3b9ccaa9d0d383f926aaa5953ea3d", features = ["ephemeral-server"] }
temporal-sdk-core-api = { git = "https://github.com/temporalio/sdk-core", rev = "6e601115daa3b9ccaa9d0d383f926aaa5953ea3d" }
temporal-sdk-core-protos = { git = "https://github.com/temporalio/sdk-core", rev = "6e601115daa3b9ccaa9d0d383f926aaa5953ea3d" }
rustfsm = { git = "https://github.com/temporalio/sdk-core", rev = "6e601115daa3b9ccaa9d0d383f926aaa5953ea3d" }
tokio = "~1.44"
tokio-stream = "~0.1"
tonic = "~0.12"
tracing = "~0.1"
url = "~2.5"
ffi-convert = "~0.6"
serde = { version = "~1.0", features = ["derive"] }
serde_json = "~1.0"
prost = "~0.13"
prost-types = "~0.13"
libc = "0.2.172"

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = true
