[package]
name = "temporal_bridge"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
temporal-client = { path = "../../vendor/temporal-sdk-core/client" }
temporal-sdk-core = { path = "../../vendor/temporal-sdk-core/core", features = ["ephemeral-server"] }
temporal-sdk-core-api = { path = "../../vendor/temporal-sdk-core/core-api" }
temporal-sdk-core-protos = { path = "../../vendor/temporal-sdk-core/sdk-core-protos" }
rustfsm = { path = "../../vendor/temporal-sdk-core/fsm" }
tokio = "~1.44"
tokio-stream = "~0.1"
tonic = "~0.12"
tracing = "~0.1"
url = "~2.5"
ffi-convert = "~0.6"
serde = { version = "~1.0", features = ["derive"] }
serde_json = "~1.0"
prost = "~0.13"
prost-types = "~0.13"
libc = "0.2.172"

[profile.release]
opt-level = 3
debug = false
lto = true
incremental = true
